#root {
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
  /* background-color: #3c4f60; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form-button {
  display: flex;
  justify-content: flex-start; /* Aligns the button to the left */
  margin-bottom: 2rem;
  margin-top: 10px;
  color: #218838;
}

.add-row-form {
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.counter-app {
  text-align: center;
  margin-top: 50px;
}

.counter-app h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.counter-app p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.counter-app button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.counter-app button:hover {
  background-color: #c8ba53;
}

.tiles-container {
  display: grid;
  grid-template-columns: 1fr; /* Default: Single column on mobile */
  gap: 30px;
  padding: 20px;
  /* min-height: 100vh;  */
  /* background-color: #3c4f60; */
}

/* Two columns per row on screens wider than 375px */
@media (min-width: 375px) {
  .tiles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Ensure minimum height for each tile */
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #376c58;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  flex-grow: 0; /* Prevents stretching */
  flex-shrink: 1; /* Allows shrinking if needed */
  transition: background-color 0.3s ease;
  min-height: 150px; /* Reasonable minimum height */
  height: auto; /* Adapts to content */
  max-height: 150px; /* Prevents tiles from being too large */
}

.quotes-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #376c58;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-style: italic;
  color: #333;
}

.quotes-container p {
  margin: 0;
  font-size: 1.2rem;
}



.tile:hover {
  background-color: rgba(38, 35, 35, 0.902); /* Softer hover effect */
}

@media (min-width: 600px) {
  .tile {
    padding: 30px; /* Increased padding for larger devices */
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .tile {
    padding: 60px; /* Increased padding for large desktop view */
    font-size: 4rem;
  }
}


.add-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}

.todo-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-container {
  max-width: 21.875rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.todo-list .todo-number {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.todo-list .remove-button {
  margin: 10px 10px;
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}



.todo-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem; /* Adjusted for responsiveness */
  justify-content: center;
}

.todo-number {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.todo-text {
  flex-grow: 1;
  text-align: center;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-details, .date-input {
  margin-top: 10px;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: block;
  max-height: 233px;
  overflow: auto;
  transition: max-height 0.5s ease-in-out; /* Improved animation */
}

.todo-detail-input {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
}

.select-box {
  word-wrap: normal;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

.score {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 19px auto;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.score span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ff6347;
}

.score .result {
  font-style: italic;
  color: #2e8b57;
}
